* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .item h1 {
  text-align: center;
}

.item {
  margin: 1rem;
  min-width: 300px;
  width: 80%;
  text-align: justify;
}
