<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="item">
        <h1>Item 1</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi qui
          impedit beatae quod placeat omnis, voluptatem dolor quam illo
          accusantium dolorem modi. Dolorum error consequuntur quam ex eligendi
          nisi dignissimos.
        </p>
      </div>
      <div class="item">
        <h1>Item 2</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi qui
          impedit beatae quod placeat omnis, voluptatem dolor quam illo
          accusantium dolorem modi. Dolorum error consequuntur quam ex eligendi
          nisi dignissimos.
        </p>
      </div>
      <div class="item">
        <h1>Item 3</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi qui
          impedit beatae quod placeat omnis, voluptatem dolor quam illo
          accusantium dolorem modi. Dolorum error consequuntur quam ex eligendi
          nisi dignissimos.
        </p>
      </div>
    </div>
  </body>
</html>
